<a href="https://colab.research.google.com/github/divya1276/DataScience/blob/main/Pandas_Advanced_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [ ]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [ ]:
# a =
a=pd.Series([100,200,300,400])

Print a, and data type

In [ ]:
print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [ ]:
a5=a[2]
print(a5)

300

What are the values of index for series a?

In [ ]:
print(a)

0    100
1    200
2    300
3    400
dtype: int64

Change the index to  ['c', 'a', 'b', 'd']

In [ ]:
a.index = ['c', 'a', 'b', 'd']

Access the value in the series with index 'd'

In [ ]:
print(a["d"])

400

Sort the values wrt to the index and print it

In [ ]:
print(a.sort_index())

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [ ]:
# b =
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [ ]:
# a =
a = pd.concat([a, b])
print(a.sort_index())

a    200
b    300
c    100
d    400
e    800
f    450
g    100
dtype: int64

In [ ]:
#print a again after appending b into it
print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [ ]:
# a =
a = a.sort_values(ascending=False)

In [ ]:
print(a)

e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
# df =
df = a.to_frame(name='value')

In [ ]:
print(df)

   value
e    800
f    450
d    400
b    300
a    200
c    100
g    100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [ ]:
print(df.shape)

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.
print(df.index)

Index(['c', 'a', 'b', 'd', 'e', 'f', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [ ]:
print(df.head())

   value
c    100
a    200
b    300
d    400
e    800

In [ ]:
print(df.tail())

   value
b    300
d    400
e    800
f    450
g    100

Rename the column of the dataframe as 'points'

In [ ]:
df.columns = ['points']

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [ ]:
#Create fruits array
# fruits =
# Define the list of fruits
fruit_list = ['orange', 'mango', 'apple', 'mango', 'orange', 'apple', 'mango']

In [ ]:
#Create series fruits out of fruits array
# fruits =
# Create the Series 'fruits' from the fruit_list array
fruits = pd.Series(fruit_list)

Change the index of fruits to the index of dataframe df

In [ ]:
df = pd.DataFrame({'points': [100, 200, 300, 400]}, index=['c', 'a', 'b', 'd'])
print(df)

   points
c     100
a     200
b     300
d     400

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [ ]:
df['fruits'] = fruits

In [ ]:
print(fruits)

0    orange
1     mango
2     apple
3     mango
4    orange
5     apple
6     mango
dtype: object

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [ ]:
# d1 =
data = {
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 20, 26, -2]
}
d1 = pd.DataFrame(data)

Print(d1)

In [ ]:
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [ ]:
print(d1.shape)

(5, 2)

Set city = d1['city']

In [ ]:
d1['city']

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

print city <br>
What is the type of city.

In [ ]:
print(d1.city)
print(type(d1['city']))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [ ]:
# d2 =
data2 = {
    'city': ['Bengalaru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [24, 35, 36, 39]
}
d2=pd.DataFrame(data)

print the shape of this dataframe

In [ ]:
print(d2.shape)

(5, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [ ]:
# d3 =
d3 = pd.concat([d1, d2], ignore_index=True)

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [ ]:
cities = d3[d3['Temperature'] <= 20]
cities1 = len(cities)
print(cities)
print(cities1)

         city  Temperature  is_union_territory  is_ut
0  Chandigarh           15                True   True
2      Kanpur           20               False  False
4      Manali           -2               False  False
5  Chandigarh           15                True   True
7      Kanpur           20               False  False
9      Manali           -2               False  False
6

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [ ]:
temp2= d3[d3['Temperature'] >= 35]
print(temp2)
temp3 = len(temp2)
print(temp3)

Empty DataFrame
Columns: [city, Temperature, is_union_territory, is_ut]
Index: []
0

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [ ]:
# write function here

# def is_ut(x):

#     # write code below

# d3['is_ut'] =

# Print the DataFrame d3
data3 = {
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali',
             'Bengalaru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [15, 22, 20, 26, -2, 24, 35, 36, 39]
}
d3 = pd.DataFrame(data3)
def is_ut(city):
    return city in ['Chandigarh', 'Pondicherry', 'Delhi']
d3['is_ut'] = d3['city'].apply(is_ut)

In [ ]:
# print d3

print(d3)

          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
5    Bengalaru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here
def c_to_f(temp_celsius):
    return (temp_celsius * 9/5) + 32

# Apply the function to create a new column 'Temperature_Fahrenheit'
d3['Temperature_Fahrenheit'] = d3['Temperature'].apply(c_to_f)
print(d3)

          city  Temperature  is_ut  Temperature_Fahrenheit
0   Chandigarh           15   True                    59.0
1        Delhi           22   True                    71.6
2       Kanpur           20  False                    68.0
3      Chennai           26  False                    78.8
4       Manali           -2  False                    28.4
5    Bengalaru           24  False                    75.2
6   Coimbatore           35  False                    95.0
7    Srirangam           36  False                    96.8
8  Pondicherry           39   True                   102.2

In [ ]:
# check function c_to_f(10)
test_values = 10
cv = c_to_f(test_values)
print(cv)

50.0

In [ ]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
d3['temp_fahrenheit'] = d3['Temperature'].apply(c_to_f)
print(d3)

          city  Temperature  is_ut  Temperature_Fahrenheit  temp_fahrenheit
0   Chandigarh           15   True                    59.0             59.0
1        Delhi           22   True                    71.6             71.6
2       Kanpur           20  False                    68.0             68.0
3      Chennai           26  False                    78.8             78.8
4       Manali           -2  False                    28.4             28.4
5    Bengalaru           24  False                    75.2             75.2
6   Coimbatore           35  False                    95.0             95.0
7    Srirangam           36  False                    96.8             96.8
8  Pondicherry           39   True                   102.2            102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [ ]:
d1['is_ut'] = d1['city'].apply(is_ut)
subc= d1[d1['is_ut']]
print(subc)

         city  Temperature  is_ut
0  Chandigarh           15   True
1       Delhi           22   True

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [ ]:
substemp = d3[d3['temp_fahrenheit'] > 90]
print(substemp)

          city  Temperature  is_ut  Temperature_Fahrenheit  temp_fahrenheit
6   Coimbatore           35  False                    95.0             95.0
7    Srirangam           36  False                    96.8             96.8
8  Pondicherry           39   True                   102.2            102.2

Select only the first three rows of the dataframe d1.

In [ ]:
set1= d1.head(3)
print(set1)

         city  Temperature  is_ut
0  Chandigarh           15   True
1       Delhi           22   True
2      Kanpur           20  False

Select all the rows and last two columns in the dataframe.

In [ ]:
setcol= d1.iloc[:, -2:]
print(setcol)

   Temperature  is_ut
0           15   True
1           22   True
2           20  False
3           26  False
4           -2  False

## Groupby

In [ ]:
# Create a dataframe using dictionary of your choice

# data =
data = {
    'fruit': ['Apple', 'Banana', 'Orange', 'Apple', 'Banana', 'Orange', 'Apple', 'Banana', 'Orange'],
    'category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A'],
    'price': [10, 5, 8, 12, 7, 9, 11, 6, 10]
}

# Create the DataFrame
df = pd.DataFrame(data)
print(df)

    fruit category  price
0   Apple        A     10
1  Banana        B      5
2  Orange        A      8
3   Apple        B     12
4  Banana        A      7
5  Orange        B      9
6   Apple        A     11
7  Banana        B      6
8  Orange        A     10

In [ ]:
# Use Groupby of single column with aggregate sum()
aggsum = df.groupby('fruit')['price'].sum()
print(aggsum)

fruit
Apple     33
Banana    18
Orange    27
Name: price, dtype: int64

In [ ]:
# Use Groupby of single column with aggregate count()
aggcount = df.groupby('fruit')['price'].count()
print(aggcount)

fruit
Apple     3
Banana    3
Orange    3
Name: price, dtype: int64

In [ ]:
# Use Groupby of single column with aggregate min() and max()
aggmin=df.groupby('fruit')['price'].min()
aggmax = df.groupby('fruit')['price'].max()
print(aggmin)
print(aggmax)

fruit
Apple     10
Banana     5
Orange     8
Name: price, dtype: int64
fruit
Apple     12
Banana     7
Orange    10
Name: price, dtype: int64

In [ ]:
# Use Groupby of any 2 columns with aggregate mean()
aggmean=df.groupby(['fruit', 'category'])['price'].mean()
print(aggmean)

fruit   category
Apple   A           10.5
        B           12.0
Banana  A            7.0
        B            5.5
Orange  A            9.0
        B            9.0
Name: price, dtype: float64

In [ ]:
# Use Groupby of any 2 columns with aggregate min() and max()
aggmin1=df.groupby(['fruit','category'])['price'].min()
aggmax1=df.groupby(['fruit','category'])['price'].max()
print(aggmin1)
print(aggmax1)

fruit   category
Apple   A           10
        B           12
Banana  A            7
        B            5
Orange  A            8
        B            9
Name: price, dtype: int64
fruit   category
Apple   A           11
        B           12
Banana  A            7
        B            6
Orange  A           10
        B            9
Name: price, dtype: int64